button.trackMusicButton{
  margin-top: -10px;
  margin-bottom: 10px;
  align-items: center;
  background-image: linear-gradient(144deg,#000000, #1e1e1e 50%,#5a5a5a);
  box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
  border: 0;
  border-radius: 4px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  font-size: 14px;
  justify-content: center;
  width: 100px;
  height: 40px;
  cursor: pointer;
}


button#trackMusicPlayButton{
  margin-left: 30px;
  background-image: linear-gradient(144deg,#ff4099, #f37442 50%,#ebcc00);
}

 div#videolyricpair{
  margin-left: 20px;
  margin-top: -30px;
}

#DeviceConnectorContainer{
    /* position: absolute; */
    margin-left: 35px;
    width: 1600px;
    height: 90px;
    margin-top: 10px;
    margin-bottom: 10px;
}


#sheetMusicPlayButton {
  margin-top: 10px;
  margin-bottom: -10px;
  align-items: center;
  background-image: linear-gradient(144deg,#ff4099, #f37442 50%,#ebcc00);
  box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
  border: 0;
  border-radius: 4px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  font-size: 14px;
  justify-content: center;
  width: 80px;
  height: 35px;
  cursor: pointer;
}

#sheetMusicRecordButton {
  margin-top: 10px;
  margin-bottom: -10px;
  align-items: center;
  background-image: linear-gradient(144deg,#ff4099, #f37442 50%,#ebcc00);
  box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
  border: 0;
  border-radius: 4px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  font-size: 14px;
  justify-content: center;
  width: 80px;
  height: 35px;
  cursor: pointer;
}

#sheetMusicPlayButton:active,
#sheetMusicPlayButton:hover {
  background-image: linear-gradient(144deg,#ff0c7e, #d44811 50%,#ffdd00);
  outline: 0;
}



#sheetMusicPauseButton {
    margin-top: 10px;
    margin-bottom: -10px;
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
    border: 0;
    border-radius: 4px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    font-size: 14px;
    justify-content: center;
    width: 80px;
    height: 35px;
    cursor: pointer;
  }
  
  #sheetMusicPauseButton:active,
  #sheetMusicPauseButton:hover {
    background-image: linear-gradient(144deg,#9400ff, #3f22ed 50%,#00b9c5);
    outline: 0;
  }




  #sheetMusicDeleteButton {
    margin-top: 10px;
    margin-bottom: -10px;
    align-items: center;
    background-image: linear-gradient(144deg,#585858, #363442 50%,#bebebe);
    box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
    border: 0;
    border-radius: 4px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    font-size: 14px;
    justify-content: center;
    width: 80px;
    height: 35px;
    cursor: pointer;
  }
  
  #sheetMusicDeleteButton:active,
  #sheetMusicDeleteButton:hover {
    background-image: linear-gradient(144deg,#282828, #5b5b5b 50%,#2c2c2c);
    outline: 0;
  }



  #sheetMusicAllDeleteButton {
    margin-top: 10px;
    margin-bottom: -10px;
    align-items: center;
    background-image: linear-gradient(144deg,#000000, #1e1e1e 50%,#5a5a5a);
    box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
    border: 0;
    border-radius: 4px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    font-size: 14px;
    justify-content: center;
    width: 80px;
    height: 35px;
    cursor: pointer;
  }
  
  #sheetMusicAllDeleteButton:active,
  #sheetMusicAllDeleteButton:hover {
    background-image: linear-gradient(144deg,#530000, #540000 50%,#232323);
    outline: 0;
  }

  #sheetMusicLoadButton {
    margin-top: 10px;
    margin-bottom: -10px;
    align-items: center;
    background-image: linear-gradient(144deg,#00a524, #02f516 50%,#cdffc3);
    box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
    border: 0;
    border-radius: 4px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    font-size: 14px;
    justify-content: center;
    width: 80px;
    height: 35px;
    cursor: pointer;
  }
  
  #sheetMusicLoadButton:active,
  #sheetMusicLoadButton:hover {
    background-image: linear-gradient(144deg,#282828, #5b5b5b 50%,#2c2c2c);
    outline: 0;
  }


  #recordStartButton {
    margin-top: -100px;
    margin-left: -190px;
    /* margin-bottom: -10px; */
    align-items: center;
    background-image: linear-gradient(144deg,#d40000, #e24405 50%,#c8ae00);
    box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
    border: 0;
    border-radius: 4px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    font-size: 14px;
    justify-content: center;
    width: 80px;
    height: 45px;
    cursor: pointer;
  }

  #recordStartButton:active,
  #recordStartButton:hover {
    background-image: linear-gradient(144deg,#ff0c0c, #6c1f00 50%,#cfb406);
    outline: 0;
  }

  #recordStopButton {
    margin-top: -120px;
    margin-left: 5px;
    /* margin-bottom: -10px; */
    align-items: center;
    background-image: linear-gradient(144deg,#19191a, #656565 50%,#cecece);
    box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
    border: 0;
    border-radius: 4px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    font-size: 14px;
    justify-content: center;
    width: 80px;
    height: 45px;
    cursor: pointer;
  }
  
  #recordStopButton:active,
  #recordStopButton:hover {
    background-image: linear-gradient(144deg,#000000, #272727 50%,#ffffff);
    outline: 0;
  }


  /* #sheetMusicRecordButton {
    margin-top: 10px;
    margin-bottom: -10px;
    align-items: center;
    background-image: linear-gradient(144deg,#ff4099, #f37442 50%,#ebcc00);
    box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
    border: 0;
    border-radius: 4px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    font-size: 14px;
    justify-content: center;
    width: 80px;
    height: 35px;
    cursor: pointer;
  } */
  






.synthesizer{
    /* margin-top: 10px;
    margin-bottom: -10px; */
    align-items: center;
    /* background-image: linear-gradient(144deg,hsl(0, 0%, 18%), #4a4a4a 50%,#000000); */
    box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
    border: 0;
    border-radius: 3px;
    /* box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px; */
    background-color: #fcfcfc;
    box-sizing: border-box;
    color: black;
    font-size: 16px;
    justify-content: center;
    margin-left: 5px;
    width: 100px;
    height: 30px;
    cursor: pointer;

}


.synthesizer:active{
    background-image: linear-gradient(144deg,hsl(38, 100%, 55%), #ee912e 50%,#f35b5b);

}


.haptic{
    align-items: center;
    /* background-image: linear-gradient(144deg,hsl(0, 0%, 18%), #4a4a4a 50%,#000000); */
    box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
    border: 0;
    border-radius: 3px;
    /* box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px; */
    background-color: #fcfcfc;
    box-sizing: border-box;
    color: black;
    font-size: 16px;
    justify-content: center;
    margin-left: 4px;
    width: 100px;
    height: 30px;
    cursor: pointer;
    font-size: 16px;
}


.haptic:active{
    background-image: linear-gradient(144deg,hsl(38, 100%, 55%), #ee912e 50%,#f35b5b);

}


#player1{
    position: absolute;
    margin-left: 30px;
    margin-top: 40px;
    width: 700px;
    height: 438px;
}
#player2{
  position: absolute;
  margin-left: 30px;
  margin-top: 40px;
  width: 700px;
  height: 438px;
}

#exampleVideoButton{
    position: absolute;
    margin-left: 30px;
    margin-top: -20px;
    width: 335px;
    height: 50px;
}

#danceVideoButton{
    position: absolute;
    margin-left: 30px;
    margin-top: -20px;
    width: 710px;
    height: 50px;
}



.videoSelectButton{

    align-items: center;
    /* background-image: linear-gradient(144deg,hsl(0, 0%, 18%), #4a4a4a 50%,#000000); */
    box-shadow: -5px -5px 9px rgba(80, 86, 88, 0.45), 5px 5px 9px rgba(135, 138, 142, 0.3);
    border: 0;
    border-radius: 3px;
    /* box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px; */
    background-color: #fcfcfc;
    box-sizing: border-box;
    color: black;
    font-size: 16px;
    justify-content: center;
    margin-left: 5px;
    width: 80px;
    height: 50px;
    cursor: pointer;
    border-radius: 3px;
}



#PreviousButton{
    background-color: #d3d3d3;
    color: black;
    padding: 20px 50px;
    box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
    border: 0;
    font-size: 50px;
    border-radius: 4px;
    margin-bottom: 10px;
}

#NextButton{
    background-color: #04AA6D;
    color: white;
    padding: 20px 50px;
    box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
    border: 0;
    font-size: 50px;
    border-radius: 4px;
    margin-bottom: 10px;
}


#sheetMusicSaveButton{
  background-color: #FF6161;
  color: black;
  padding: 20px 50px;
  box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
  border: 0;
  font-size: 35px;
  margin-top: 40px;
  border-radius: 4px;
}
#sheetMusicRecordButton{
  background-image: linear-gradient(144deg,hsl(0, 100%, 65%), #fb3535 50%,#ff8db9);
}



/* .button-cover {
  height: 100px;
  margin: 20px;
  background-color: #fff;
  box-shadow: 0 10px 20px -8px #c5d6d6;
  border-radius: 4px;
}

.button-cover:before {
  counter-increment: button-counter;
  content: counter(button-counter);
  position: absolute;
  right: 0;
  bottom: 0;
  color: #d7e3e3;
  font-size: 12px;
  line-height: 1;
  padding: 5px;
} */

.button-cover,
.knobs,
.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button {
  position: relative;
  top: 50%;
  width: 120px;
  height: 60px;
  overflow: hidden;
}

.button.r,
.button.r .layer {
  border-radius: 100px;
}

.button.b2 {
  border-radius: 2px;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  background-color: #fdfdfd;
  transition: 0.3s ease all;
  z-index: 1;
}

/* Button - HAPTIC  */
#button-haptic{
  margin-top: -90px;
  margin-left: 450px;

}


#button-haptic .knobs:before {
  content: "비트";
  position: absolute;
  top: 6px;
  left: 6px;
  width: 40px;
  height: 30px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  line-height: 1.5;
  padding: 9px 4px;
  border-radius: 2em;
  background-color: #03a9f4;
  /* These shadow are what create the skeumorphic indent on the track. The first one is dark to show places in the indent that light don't reach and the second one shows places where light meets thereby creating the illusion of depth */ 
  box-shadow: 
              inset .6em 1em 10px rgba(0,0,0,.15),
              inset -.6em -1em 10px rgba(255, 255, 255, .415);
  border-radius: 50%;
  transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

#button-haptic .checkbox:checked + .knobs:before {
  justify-content: center;
  content: "박자";

  left: 65px;
  background-color: #f44336;
  box-shadow: 
  inset .6em 1em 10px rgba(0,0,0,.15),
  inset -.6em -1em 10px rgba(255, 255, 255, .415);
}


#button-haptic .checkbox ~ .layer {
  background-color: #e7eeff;
  box-shadow: 
  inset .6em 1em 10px rgba(0,0,0,.15),
  inset -.6em -1em 10px rgba(255, 255, 255, .415);
}



#button-haptic .checkbox:checked ~ .layer {
  border-radius: 2em;
  background-color: #fcebeb;
  /* These shadow are what create the skeumorphic indent on the track. The first one is dark to show places in the indent that light don't reach and the second one shows places where light meets thereby creating the illusion of depth */ 
  box-shadow: 
              inset .6em 1em 10px rgba(0,0,0,.15),
              inset -.6em -1em 10px rgba(255, 255, 255, .415);
}

#button-haptic .knobs,
#button-haptic .knobs:before,
#button-haptic .layer {
  transition: 0.3s ease all;
}





/* Button - BPM */
#button-bpm{
  margin-top: -30px;
  margin-left: 250px;
}




#button-bpm .knobs:before {
  content: '🔉';
  position: absolute;
  top: 6px;
  left: 6px;
  width: 40px;
  height: 30px;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
  background-color: #ffffff;
  box-shadow: 
              inset .6em 1em 10px rgba(100, 100, 100, 0.412),
              inset -.6em -1em 10px rgba(231, 231, 231, 0.643);
  border-radius: 50%;
  transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

#button-bpm .checkbox:checked + .knobs:before {
  justify-content: center;
  content: '🔇';

  left: 65px;
  box-shadow: 
              inset .6em 1em 10px rgba(0, 0, 0, 0.331),
              inset -.6em -1em 10px rgba(255, 255, 255, .415);
  background-color: #b8b8b8;
}


#button-bpm .checkbox ~ .layer {
  background-color: #ffffff;
  box-shadow: 
  inset .6em 1em 10px rgba(110, 110, 110, 0.15),
  inset -.6em -1em 10px rgba(255, 255, 255, .415);
}




#button-bpm .checkbox:checked ~ .layer {
  background-color: #c3c3c3;
  box-shadow: 
  inset .6em 1em 10px rgba(0,0,0,.15),
  inset -.6em -1em 10px rgba(255, 255, 255, .415);
}



#button-bpm .knobs,
#button-bpm .knobs:before,
#button-bpm .layer {
  transition: 0.3s ease all;
}



#lyricsSettingButton{
  align-items: center;
  background-image: linear-gradient(144deg,#d4c200, #e24405 50%,#c8ae00);
  box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
  border: 0;
  border-radius: 4px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  font-size: 14px;
  justify-content: center;
  width: 80px;
  height: 45px;
  cursor: pointer;
}