<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Synthesizer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Style -->
    <link type="text/css" href="../static/src/css/style.css" rel="stylesheet">
    <script src="https://unpkg.com/meyda/dist/web/meyda.min.js"></script>
</head>

<body>
    <h1> 신디사이저 사용해보기 </h1>
    <div id="content">
        <div class="thetitle" id="title"></div>
        <label for="thefile" class="file" style="display:none;">
            <input type="file" id="thefile" accept="audio/*" style="display:none;"/>
        </label>

        <audio id="audio" controls style="display:none;"></audio>
        <audio src="../static/src/sound/drum.wav" id="drum_audio"></audio>
        <br>
        <canvas id="sparkle-canvas"></canvas>
        <canvas id="fluid-canvas"></canvas>
        <div id="upper-stagger">
            <div class="stagger-visualizer"></div>
        </div>

    </div>
    </div>

    <div id="midiSettingContainer">
        신디사이저 연결 여부: <span id="midiInName">NONE</span>
        </p><p>
        <button data-action = "open_midi_in">open</button> 
        <button data-action = "close_midi_in">close</button> 
        </p><p>
        <pre id="midiIn" style = "display: none;">
        messages
        </pre>
        <span id="currnet_note" style = "display: none;">NONE</span>
      </div>

    <div id="menus" style="float: right; margin-right: 50px;">
        <div id="visualButtons">
            <div class="canvasDIV" style="font-size: 18px;">시각화 디자인&nbsp
            <button class="visualButtons" id="sparkle" style="display: none"> Sparkle </button>
            <button class="visualButtons" id="stagger" style="width: 80px; height:50px; margin-left: 10px;"> 리듬 </button>
            <button class="visualButtons" id="fluid" style="width: 80px; height:50px;"> 멜로디 </button>

            <div id="customSliders">
                <br>
                <br>
                <br>
                <button id="backgroundColor"> 배경 색상 <input id="backgroundColorID" type="text" data-coloris> </button> <button id="backgroundColorSaveButton"> SAVE </button>
                <br>
                <button id="objectColor1"> 오브젝트 색상  <input type="text" data-coloris> </button> <button id="objectColor1SaveButton"> SAVE </button>
                <br>
                <button id="objectColor2" style="display: none;">Object Color 2  <input type="text" data-coloris> </button> <button id="objectColor2SaveButton" style="display: none;"> SAVE </button>
            </div>
        </div>

        <section class="hapticContainer" style="float: right;">
            <br>
            <hr>
            <br>
            <div class="canvasDIV" style="float: right; font-size: 18px; margin-right: 2px; ">진동 디자인
            <button class="btn btn-warning" data-action="SearchHapticDevice" style="width: 80px; height:50px;" >
                연결
            </button>
            <button class="btn btn-warning" id = "haptic_button" data-action="playHaptic" style="width: 80px; height:50px;" >
                Test
            </button>
            <button data-action="Melody" class="btn btn-danger" style="width: 80px; height:50px;">
                멜로디
            </button>
            <button data-action="Beat" class="btn btn-danger" style="width: 80px; height:50px;">
                리듬
            </button>
            </div>
            <div class="customMenu">
                <br>
                <br>
                <br>
                <br>
                <p class="smallTitle" style="display:inline;">진동 세기&nbsp&nbsp&nbsp&nbsp&nbsp</p>
                <input data-action="update_amplitude" class="range" type="range" name="amplitude" id="slide-haptic-amplitude" value="50" min="0" max="100" style="display:inline;height:15px;"></input>
                <br>
                <br>
                <p class="smallTitle" style="display:inline;">진동 수&nbsp&nbsp</p>
                <input data-action="update_frequency" class="range" type="range" name="frequency" id="slide-haptic-frequency" value="50" min="0" max="100" style="display:inline;height:15px;"></input>
                <br>
                <p class="smallTitle" style="display:none;">Attack&nbsp</p>
                <input data-action="update_attack" class="range" type="range" name="attack" id="slide-haptic-attack" value="50" min="0" max="100" style="display:none;height:15px;"></input>
                <br>
                <p class="smallTitle" style="display:none;">Decay&nbsp&nbsp</p>
                <input data-action="update_decay" class="range" type="range" name="decay" id="slide-haptic-decay" value="50" min="0" max="100" style="display:none;height:15px;"></input>
                <br>
                <p class="smallTitle" style="display:none;">Sustain&nbsp&nbsp</p>
                <input data-action="update_sustain" class="range" type="range" name="sustain" id="slide-haptic-sustain" value="50" min="0" max="100" style="display:none;height:15px;"></input>
                <br>
                </div>
        </section>
    </div>

    
    <p id="identityVisual"></p>

    <script>
        window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
        ga('create', 'UA-105392568-1', 'auto');
        ga('send', 'pageview');
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/mdbassit/Coloris@latest/dist/coloris.min.css"/>
    <script src="https://cdn.jsdelivr.net/gh/mdbassit/Coloris@latest/dist/coloris.min.js"></script>

    <script type="module" defer src="./static/src/js/dist/circle.js"></script>
    <script type="module" defer src="./static/src/js/dist/sparkle.js"></script>
    <script type="module" defer src="./static/src/js/dist/fluid.js"></script>
    <script type="module" defer src="./static/src/js/dist/colorpicker.js"></script>
    <script type="module" defer src="./static/src/js/dist/stagger.js"></script>

    <script type="module" defer src="./static/src/js/dist/JZZ.js"></script>
    <script type="module" defer src="./static/src/js/dist/synthesiser_mapping.js"></script>
    <script type="module" defer src="./static/src/js/dist/haptic.js"></script>
    <script src ="https://cdnjs.cloudflare.com/ajax/libs/tone/14.8.40/Tone.js"></script>


</body>
</html>