<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Synthesizer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Style -->
    <link type="text/css" href="../static/src/css/style.css" rel="stylesheet">
    <link type="text/css" href="../static/src/css/SheetMusic.css" rel="stylesheet">
    <!-- <link type="text/css" href="../static/src/css/menu.css" rel="stylesheet"> -->
    <script src="https://unpkg.com/meyda/dist/web/meyda.min.js"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>


</head>

<body>
    <div id="shape-canvas"></div>

    <div id="midiContainer">
        <button data-action = "open_midi_in">open</button> 
        <button data-action = "close_midi_in">close</button> 
        MIDI: <span id="midiInName">NONE</span>
        <!-- <span id="currnet_note" style = "display: none;">NONE</span> -->
    </div>    

    
    <div class="fixed-track-container">
        duration : <input type="number" name="age" id="trackduration" min="300" max="6000" step="1" value="300">
        <button class="sheetMusicButton"id="trackMusicPlayButton"> Play </button>
        <button class="sheetMusicButton"id="trackMusicPauseButton"> Pause </button>
        <button class="sheetMusicButton"id="trackMusicRemoveNoteButton"> Remove Note </button>
        <div id="slider_track" style="width: 3000px; height: 10px;"></div>
        <div class="grid-container" id="TrackContainer">
            <!-- <div class="track-item" track_type="template">Visualization </div>
            <div class="track-item" track_type="Meolody">Melody </div>
            <div class="track-item" track_type="Beat">Beat </div> -->
            <div id="dropzoneGroup">
                <div id="template-dropzone" class="template-dropzone" style="width: 3000px;">Template</div>
                <div id="melody-dropzone" class="melody-dropzone" style="width: 3000px;">Melody</div>
                <div id="beat-dropzone" class="beat-dropzone" style="width: 3000px;">Beat</div>
            </div>
            <div id="TemplatedropContainer">
                <!-- <div id="yes-drop" class="drag-drop"> Test 1 </div> -->
            </div>
            <div id="MelodydropContainer">
                <!-- <div id="yes-drop" class="drag-drop"> Test 3 </div> -->
            </div>
            <div id="BeatdropContainer">
                <!-- <div id="yes-drop" class="drag-drop"> Test 5 </div> -->
            </div>
        </div>
    </div>

    <div id = 'sheetMusicController'>
        <button class="sheetMusicButton"id="sheetMusicMelodyButton"> Melody </button>
        <button class="sheetMusicButton"id="sheetMusicBeatButton"> Beat </button>
        <button class="sheetMusicButton"id="sheetMusicSaveButton"> Save </button>
        duration : <input type="number" name="age" id="clipduration" min="3" max="600" step="0.1" value="30">
        <button class="sheetMusicButton"id="sheetMusicPlayButton"> Play </button>
        <button class="sheetMusicButton"id="sheetMusicPauseButton"> Pause </button>
        <button class="sheetMusicButton"id="sheetMusicRemoveNoteButton"> Remove Note </button>
        <div id="slider" style="width: 1820px; left:60px;"></div>
    </div>
    <div class="fixed-container">
        <div class="grid-container" id="MelodyContainer">
            <div class="vertical-line" id="startLine", style="left:60px;"></div>
            <div class="vertical-line" id="timeLine1" style="background-color:green; left:60px;"></div>
            <div class="grid-item" id="timeScale"></div>
            <div class="grid-item" id="box_C4">C4</div>
            <div class="grid-item" id="box_C#4">C#4</div>
            <div class="grid-item" id="box_D4">D4</div>
            <div class="grid-item" id="box_D#4">D#4 </div>
            <div class="grid-item" id="box_E4">E4 </div>
            <div class="grid-item" id="box_F4">F4 </div>
            <div class="grid-item" id="box_F#4">F#4 </div>
            <div class="grid-item" id="box_G4">G4 </div>
            <div class="grid-item" id="box_G#4">G#4 </div>
            <div class="grid-item" id="box_A4">A4 </div>
            <div class="grid-item" id="box_A#4">A#4</div>
            <div class="grid-item" id="box_B4">B4 </div>
            <div class="grid-item" id="box_C5">C5 </div>
            <div class="grid-item" id="box_C#5">C#5 </div>
            <div class="grid-item" id="box_D5">D5 </div>
            <div class="grid-item" id="box_D#5">D#5</div>
            <div class="grid-item" id="box_E5">E5 </div>
            <div class="grid-item" id="box_F5">F5 </div>
            <div class="grid-item" id="box_F#5">F#5 </div>
            <div class="grid-item" id="box_G5">G5 </div>
            <div class="grid-item" id="box_G#5">G#5 </div>
            <div class="grid-item" id="box_A5">A5 </div>
            <div class="grid-item" id="box_A#5">A#5 </div>
            <div class="grid-item" id="box_B5">B5  </div>
            <div class="grid-item" id="box_C6">C6  </div>
        </div>
        <div class="grid-container" id="BeatContainer" style="display:none;">
            <div class="vertical-line" id="startLine2", style="left:60px; height: 120%;"></div>
            <div class="vertical-line" id="timeLine2" style="background-color:green; left:60px; height: 120%"></div>
            <div class="grid-item" id="box_0" style="height:100px;">Beat1 </div>
            <div class="grid-item" id="box_1" style="height:100px;">Beat2 </div>
            <div class="grid-item" id="box_2" style="height:100px;">Beat3 </div>
            <div class="grid-item" id="box_3" style="height:100px;">Beat4 </div>
        </div>
    </div>




    

    <!-- <div id="content">
        <h4>Music Input</h4> -->
        <!-- <div class="thetitle" id="title"></div> -->
        <!-- <label for="thefile" class="file">
            <input type="file" id="thefile" accept="audio/*" />
            <pre id="filepath" style = "display: none;"> None </pre>
        </label>
        <audio id="audio" style = "display: none;" controls></audio>
        <button class = "playButtonClass" id="playButton">Play</button>


        <div id="timestamp">
            <h4>Time Stamp</h4>
            <button class="TemplateSaveButton"id="templateSave"> Template Save </button>
            <p>
                <input type="text" id="rangeTime" readonly style="border:0; color:#f6931f; font-weight:bold;">
            <div id="slider"></div>
            <p>
                <input type="text" id="playTime" readonly style="border:0; color:#f6931f; font-weight:bold;">
            </p>
            <div id="slider-range" style="pointer-events: none;" ></div>
        </div>
    </div> -->

    
    <!-- <div class="shapeEffectClass">
        <button class="effectButtonClass" id="effectScale"> Scale </button>
        <button class="effectButtonClass" id="effectBlink"> Blink </button>
        <button class="effectButtonClass" id="effectLine"> Line </button>
        <button class="effectButtonClass" id="effectBloom"> Bloom </button>
        <button class="effectButtonClass" id="effectGradient"> Gradient </button>
        <button class="effectButtonClass" id="effectHorizontal"> Horizontal </button>
    </div> -->

    <!-- <div class="customMenu">
        <div class="shapeMenuClass" id="shapeMenu-Scale">
            <h4>Scale Menu</h4>
            <h5>Circle</h5>
            <button class="shapeButtonClass" id="shapeCircle-Scale">Circle Scale</button>
            <button class="shapeButtonClass" id="shapeSphere-Scale">Sphere Scale</button>
            <h5>Triangle</h5>
            <button class="shapeButtonClass" id="shapeTriangle-Scale">Trianlge Scale</button>
            <button class="shapeButtonClass" id="shapeCone-Scale">Cone Scale</button>
            <h5>Rectangle</h5>
            <button class="shapeButtonClass" id="shapeRectangle-Scale">Rectangle Scale</button>
            <button class="shapeButtonClass" id="shapeBox-Scale">Box Scale</button>
            <h5>Pentagon</h5>
            <button class="shapeButtonClass" id="shapePentagon-Scale">Pentagon Scale</button>
            <button class="shapeButtonClass" id="shapeDodecahedron-Scale">Dodecahedron Scale</button>
        </div>

        <div class="shapeMenuClass" id="shapeMenu-Blink">
            <h4>Blink Menu</h4>
            <h5>Circle</h5>
            <button class="shapeButtonClass" id="shapeCircle-Blink">Circle Blink</button>
            <button class="shapeButtonClass" id="shapeSphere-Blink">Sphere Blink</button>
            <h5>Triangle</h5>
            <button class="shapeButtonClass" id="shapeTriangle-Blink">Trianlge Blink</button>
            <button class="shapeButtonClass" id="shapeCone-Blink">Cone Blink</button>
            <h5>Rectangle</h5>
            <button class="shapeButtonClass" id="shapeRectangle-Blink">Rectangle Blink</button>
            <button class="shapeButtonClass" id="shapeBox-Blink">Box Blink</button>
            <h5>Pentagon</h5>
            <button class="shapeButtonClass" id="shapePentagon-Blink">Pentagon Blink</button>
            <button class="shapeButtonClass" id="shapeDodecahedron-Blink">Dodecahedron Blink</button>
        </div>

        <div class="shapeMenuClass" id="shapeMenu-Line">
            <h4>Line Menu</h4>
            <h5>Circle</h5>
            <button class="shapeButtonClass" id="shapeCircle-Line">Circle Line</button>
            <h5>Triangle</h5>
            <button class="shapeButtonClass" id="shapeTriangle-Line">Trianlge Line</button>
            <h5>Rectangle</h5>
            <button class="shapeButtonClass" id="shapeRectangle-Line">Rectangle Line</button>
            <h5>Pentagon</h5>
            <button class="shapeButtonClass" id="shapePentagon-Line">Pentagon Line</button>
        </div>

        <div class="shapeMenuClass" id="shapeMenu-Bloom">
            <h4>Bloom Menu</h4>
            <h5>Circle</h5>
            <button class="shapeButtonClass_2D" id="shapeCircle-Bloom">Outer Bloom</button>
            <button class="shapeButtonClass_3D" id="shapeSphere-Bloom">Inner Bloom</button>
            <h5>Triangle</h5>
            <button class="shapeButtonClass_2D" id="shapeTriangle-Bloom">Outer Bloom</button>
            <button class="shapeButtonClass_3D" id="shapeCone-Bloom">Inner Bloom</button>
            <h5>Rectangle</h5>
            <button class="shapeButtonClass_2D" id="shapeRectangle-Bloom">Outer Bloom</button>
            <button class="shapeButtonClass_3D" id="shapeBox-Bloom">Inner Bloom</button>
            <h5>Pentagon</h5>
            <button class="shapeButtonClass_2D" id="shapePentagon-Bloom">Outer Bloom</button>
            <button class="shapeButtonClass_3D" id="shapeDodecahedron-Bloom">Inner Bloom</button>
        </div>

        <div class="shapeMenuClass" id="shapeMenu-Gradient">
            <h4>Gradient Menu</h4>
            <h5>Circle</h5>
            <button class="shapeButtonClass" id="shapeCircle-Gradient">Circle Gradient</button>
            <button class="shapeButtonClass" id="shapeSphere-Gradient">Sphere Gradient</button>
            <h5>Triangle</h5>
            <button class="shapeButtonClass" id="shapeTriangle-Gradient">Trianlge Gradient</button>
            <button class="shapeButtonClass" id="shapeCone-Gradient">Cone Gradient</button>
            <h5>Rectangle</h5>
            <button class="shapeButtonClass" id="shapeRectangle-Gradient">Rectangle Gradient</button>
            <button class="shapeButtonClass" id="shapeBox-Gradient">Box Gradient</button>
            <h5>Pentagon</h5>
            <button class="shapeButtonClass" id="shapePentagon-Gradient">Pentagon Gradient</button>
            <button class="shapeButtonClass" id="shapeDodecahedron-Gradient">Dodecahedron Gradient</button>
        </div>

        <div class="shapeMenuClass" id="shapeMenu-Horizontal">
            <h4>Horizontal Menu</h4>
            <h5>Circle</h5>
            <button class="shapeButtonClass" id="shapeCircle-Horizontal">Circle Horizontal</button>
            <button class="shapeButtonClass" id="shapeSphere-Horizontal">Sphere Horizontal</button>
            <h5>Triangle</h5>
            <button class="shapeButtonClass" id="shapeTriangle-Horizontal">Trianlge Horizontal</button>
            <button class="shapeButtonClass" id="shapeCone-Horizontal">Cone Horizontal</button>
            <h5>Rectangle</h5>
            <button class="shapeButtonClass" id="shapeRectangle-Horizontal">Rectangle Horizontal</button>
            <button class="shapeButtonClass" id="shapeBox-Horizontal">Box Horizontal</button>
            <h5>Pentagon</h5>
            <button class="shapeButtonClass" id="shapePentagon-Horizontal">Pentagon Horizontal</button>
            <button class="shapeButtonClass" id="shapeDodecahedron-Horizontal">Dodecahedron Horizontal</button>
        </div> -->


        <br>
        <div id="customSliders">
            <h4>Color Menu</h4>
            <button id="backgroundColor">Background Color <input id="backgroundColorID" type="text" data-coloris> </button> <button id="backgroundColorSaveButton"> SAVE </button>
            <br>
            <button id="objectColor1">Object Color 1  <input type="text" data-coloris> </button> <button id="objectColor1SaveButton"> SAVE </button>

            <h4>Size Slider</h4>
            <div id="player">
                <i class="fa fa-volume-down"></i>
                <div id="volume"></div>
                <i class="fa fa-volume-up"></i>
            </div>
        </div>


    <!-- <div class="saveTemplate">
        <h4>Save Template</h4>
        <button id="TemplateJsonSave">Save Json</button>
        <button id="TemplateJsonLoad">Load Json</button>
        <input type="file" id="TemplateFile" style="display:none;">
        <div id="templateContainer">
        </div>
    </div> -->

    
    
    <p id="identityVisual"></p>

    <script>
        window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
        ga('create', 'UA-105392568-1', 'auto');
        ga('send', 'pageview');
    </script>
    <script id="fragmentShader" type="shader-code">
        uniform vec2 resolution;
        uniform vec2 mousePosition;
        void main() {
            vec2 pos = (gl_FragCoord.xy - mousePosition.xy * .5) / resolution.xy;
            gl_FragColor = vec4(1.0,pos.x,pos.y,1.0);
        }
    </script>
    <script id="vertex" type="text/glsl">
        #define NORMAL
    
        #if defined( FLAT_SHADED ) || defined( USE_BUMPMAP ) || defined( TANGENTSPACE_NORMALMAP )
        
            varying vec3 vViewPosition;
        
        #endif
        
        #include <common>
        #include <uv_pars_vertex>
        #include <displacementmap_pars_vertex>
        #include <normal_pars_vertex>
        #include <morphtarget_pars_vertex>
        #include <skinning_pars_vertex>
        #include <logdepthbuf_pars_vertex>
        #include <clipping_planes_pars_vertex>
        
        void main() {
        
            #include <uv_vertex>
        
            #include <beginnormal_vertex>
            #include <morphnormal_vertex>
            #include <skinbase_vertex>
            #include <skinnormal_vertex>
            #include <defaultnormal_vertex>
            #include <normal_vertex>
        
            #include <begin_vertex>
            #include <morphtarget_vertex>
            #include <skinning_vertex>
            #include <displacementmap_vertex>
            #include <project_vertex>
            #include <logdepthbuf_vertex>
            #include <clipping_planes_vertex>
        
        #if defined( FLAT_SHADED ) || defined( USE_BUMPMAP ) || defined( TANGENTSPACE_NORMALMAP )
        
            vViewPosition = - mvPosition.xyz;
        
        #endif
        
        }
    </script>
    <script id="fragment" type="text/glsl">
        uniform vec3 colorA;
    
        #define NORMAL
    
        #if defined( FLAT_SHADED ) || defined( USE_BUMPMAP ) || defined( TANGENTSPACE_NORMALMAP )
        
            varying vec3 vViewPosition;
        
        #endif
        
        #include <packing>
        #include <uv_pars_fragment>
        #include <normal_pars_fragment>
        #include <bumpmap_pars_fragment>
        #include <normalmap_pars_fragment>
        #include <logdepthbuf_pars_fragment>
        #include <clipping_planes_pars_fragment>
        
        void main() {
        
            #include <clipping_planes_fragment>
            #include <logdepthbuf_fragment>
            #include <normal_fragment_begin>
            #include <normal_fragment_maps>
        
            gl_FragColor = vec4( normalize( normal ) * colorA + 0.5, 1.0 );
        
            #ifdef OPAQUE
        
                gl_FragColor.a = 1.0;
        
            #endif
        
        }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/mdbassit/Coloris@latest/dist/coloris.min.css"/>
    <script src="https://cdn.jsdelivr.net/gh/mdbassit/Coloris@latest/dist/coloris.min.js"></script>
    <script src=" https://cdn.jsdelivr.net/npm/open-simplex-noise@2.5.0/lib/constants.min.js "></script>
    <script type="module" defer src="./static/src/js/dist/Share.js"></script>
    
    <script type="module" defer src="./static/src/js/dist/circle.js"></script>
    <script type="module" defer src="./static/src/js/dist/colorpicker.js"></script>

    <script type="module" defer src="./static/src/js/dist/JZZ.js"></script>
    <script type="module" defer src="./static/src/js/dist/Synthesizer.js"></script>
    <script type="module" defer src="./static/src/js/dist/SheetMusic.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>
    
    <script src ="https://cdnjs.cloudflare.com/ajax/libs/tone/14.8.40/Tone.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tunajs/1.0.1/tuna.js"></script>




    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/midi/0.0.0/midi.js"></script> -->

</body>
</html>