<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Synthesizer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Style -->
    <link type="text/css" href="../static/src/css/style.css" rel="stylesheet">
    <link type="text/css" href="../static/src/css/SheetMusic.css" rel="stylesheet">
    <link type="text/css" href="../static/src/css/melodyandbeat.css" rel="stylesheet">
    <link type="text/css" href="../static/src/css/buttons.css" rel="stylesheet">
    <script src="https://unpkg.com/meyda/dist/web/meyda.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    <script id="vertexShader" type="x-shader/x-vertex">
        varying vec2 vUv;
        void main()	{
            vUv = uv;
            gl_Position = vec4( position, 1.0 );
        }
    </script>

    <script id="fragmentShader" type="x-shader/x-fragment">
            varying vec2 vUv;
            uniform float time;
            void main()	{
    
        vec3 color1 = vec3( 1.0, 0.0, 0.0 ); // red
        vec3 color2 = vec3( 0.0, 1.0, 0.0 ); // green
        
                gl_FragColor = vec4( mix( color1, color2, vUv.x ), 1.0 );
            }
    </script>


</head>

<body>
    <div id="DeviceConnectorContainer">
        <button data-action = "open_midi_in" class="synthesizer">신디 연결</button> 
        <button data-action = "close_midi_in" class="synthesizer">신디 해제</button> 
        MIDI: <span id="midiInName">NONE</span>


        <button data-action = "SearchHapticDevice" class="haptic" style="margin-left: 280px;">햅틱 연결</button> 
        <button data-action = "DisconnectHapticDevice" class="haptic" style="margin-bottom: 10px; margin-right: 20px;">햅틱 해제</button> 

        <button data-action = "HapticPatternPlayButton" id="HapticPlayButton" style="display: none;">Play</button>
        세기 : <input class="range" type="range" data-action="amplitude" value="35" min="0" max="50" style="display:inline;"></input>
    </div>     
    <div id="shape-canvas">
        <!-- <canvas id="granim-canvas"></canvas> -->
    </div>
      
    <div id = "Example Video" style="position:absolute;  margin-top: -460px; margin-left: 1000px;">
        <div id="player1"></div>
        <div id="player2" style="display:none;"></div>
        <br>
        <button class="videoSelectButton"id="exampleVideoButton" style="margin-top: -40px;"> 예시 </button>
        <button class="videoSelectButton"id="danceVideoButton" style="margin-top: -40px;"> 댄스 </button>
    </div>
    <div id = "pageControlContainer" style="position:absolute;  margin-top: -460px; margin-left: 1750px;">
        <button class="sheetMusicButton"id="sheetMusicSaveButton"> <i class="fa fa-save"></i> </button>
        <br>
        <form action="/melody" method="POST">
            <button class="pageControl"id="PreviousButton" style="margin-top: 140px;"> &laquo; </button>
        </form>
        <br>
        <button class="pageControl"id="NextButton"> &raquo; </button>
    </div>
    <div class="fixed-clip-container">
        <div id = 'sheetMusicController'>
            <button class="sheetMusicButton"id="sheetMusicPlayButton" style="margin-left: 90px;"> 재생 </button>
            <button class="sheetMusicButton"id="sheetMusicPauseButton" style="margin-left: 30px;"> 정지 </button>
            <button class="sheetMusicButton"id="sheetMusicDeleteButton" style="margin-left: 50px; margin-right: 40px;"> 삭제 </button>
            <button class="sheetMusicButton"id="sheetMusicAllDeleteButton" style="margin-right: 20px;"> 전체 삭제 </button>
            <div id="slider" style="width: 1730px; height: 20px; margin-left: 60px; margin-top: 10px; left:30px;"></div>
            
        </div>
        <div class="grid-container" id="MelodyContainer"style="display:none;">
            <div class="vertical-line" id="startLine", style="left:30px;"></div>
            <div class="vertical-line" id="timeLine1" style="background-color:green; left:30px;"></div>
            <div class="grid-item" id="box_B">시  </div>
            <div class="grid-item" id="box_A#">라# </div>
            <div class="grid-item" id="box_A">라 </div>
            <div class="grid-item" id="box_G#">솔# </div>
            <div class="grid-item" id="box_G">솔 </div>
            <div class="grid-item" id="box_F#">파# </div>
            <div class="grid-item" id="box_F">파 </div>
            <div class="grid-item" id="box_E">미 </div>
            <div class="grid-item" id="box_D#">레#</div>
            <div class="grid-item" id="box_D">레</div>
            <div class="grid-item" id="box_C#">도# </div>
            <div class="grid-item" id="box_C">도 </div>
        </div>



        <!-- 여기는 비트 부분입니다.. 아마 2번 씬은 여기 부분을 조절해서 할꺼라서 display:none이라 크게 신경 안써도 괜찮을꺼 같습니다 -->
        <div class="grid-container" id="BeatContainer">
            <div class="vertical-line" id="startLine2", style="left:30px; margin-left: 80px; "></div>
            <div class="vertical-line" id="timeLine2" style="background-color:green; left:30px; margin-left: 80px; "></div>
            <div class="grid-item" id="box_0" style="height:80px; margin-left: 30px;"> 비트1 </div>
            <div class="grid-item" id="box_1" style="height:80px; margin-left: 30px;"> 비트2 </div>
            <div class="grid-item" id="box_2" style="height:80px; margin-left: 30px;"> 비트3 </div>
            <div class="grid-item" id="box_3" style="height:80px; margin-left: 30px;"> 비트4 </div>
        </div>
        <!-- 비트 부분 -->
    </div>













    <!-- 여기 밑은 기능 구현을 위한 부분이라 display none이라 수정 안해도 괜찮습니다. -->
    <div id = 'htmlType' style="display:none;">Beat</div>
    <div id = "audioClipContainer" style="display:none;">
        <audio src="../static/src/sound/clap.wav" id = "beat1"></audio>
        <audio src="../static/src/sound/cat.wav" id = "beat2"></audio>
        <audio src="../static/src/sound/ride.wav" id = "beat3"></audio>
        <audio src="../static/src/sound/snare.wav" id = "beat4"></audio>
    </div>
    <div id ="ClipSettingController" style="display:none;">
        <button class="sheetMusicButton"id="sheetMusicMelodyButton"style="display:none;"> 새 멜로디 </button>
        <button class="sheetMusicButton"id="sheetMusicBeatButton"style="display:none;"> 새 비트 </button>
        <button class="sheetMusicButton"id="sheetMusicTemplateButton"style="display:none;"> 새 음악 효과 </button>
        <input type="number" name="age" id="clipduration" min="3" max="600" step="0.1" value="30"style="display:none;">
        <button class="sheetMusicButton"id="sheetTemplateSaveButton"style="display:none;"> 음악 효과 저장 </button>
    </div>
    <div class="fixed-track-container" style="display:none;">
        트랙 길이 <input type="number" name="age" id="trackduration" min="300" max="6000" step="1" value="30">
        <button class="trackMusicButton"id="trackMusicPlayButton"> 재생 </button>
        <button class="trackMusicButton"id="trackMusicPauseButton"> 정지 </button>
        <button class="trackMusicButton"id="trackMusicDeleteButton"> 클립 삭제 </button>
        <button class="trackMusicButton"id="trackMusicSaveButton"> 노래 저장</button>
        <button class="trackMusicButton"id="trackMusicLoadButton"> 노래 불러오기</button>
        <input type="file" id="fileUpload" multiple ='multiple' style="display:none"/>
        <div id="slider_track" style="width: 3000px; height: 15px;"></div>
        <div class="vertical-line" id="timeLine3" style="background-color:green; left:0px; top:35px; height: 90%"></div>
        <div class="grid-container" id="TrackContainer">
            <div id="dropzoneGroup">
                <p style="font-size: 15px; margin: 1px;"> 음악 효과 </p>
                <div id="template-dropzone" class="template-dropzone" style="width: 3000px; height: 30px;"></div>
                <p style="font-size: 15px; margin: 1px;"> 멜로디 </p>
                <div id="melody-dropzone" class="melody-dropzone" style="width: 3000px; height: 30px"></div>
                <p style="font-size: 15px; margin: 1px;"> 비트 </p>
                <div id="beat-dropzone" class="beat-dropzone" style="width: 3000px; height: 30px"></div>
            </div>
            <div id="TemplatedropContainer">
                <!-- <div id="yes-drop" class="drag-drop"> Test 1 </div> -->
            </div>
            <div id="MelodydropContainer">
                <!-- <div id="yes-drop" class="drag-drop"> Test 3 </div> -->
            </div>
            <div id="BeatdropContainer">
                <!-- <div id="yes-drop" class="drag-drop"> Test 5 </div> -->
            </div>
        </div>
    </div>

        <br>
        <div id="customSliders">
            <h4>Color Menu</h4>
            <button id="backgroundColor">Background Color <input id="backgroundColorID" type="text" data-coloris> </button> <button id="backgroundColorSaveButton"> SAVE </button>
            <br>
            <button id="objectColor1">Object Color 1  <input type="text" data-coloris> </button> <button id="objectColor1SaveButton"> SAVE </button>

            <h4>Size Slider</h4>
            <div id="player">
                <i class="fa fa-volume-down"></i>
                <div id="volume"></div>
                <i class="fa fa-volume-up"></i>
            </div>
        </div>


    
    
    <p id="identityVisual"></p>

    <script>
        window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
        ga('create', 'UA-105392568-1', 'auto');
        ga('send', 'pageview');
    </script>
    <script id="fragmentShader" type="shader-code">
        uniform vec2 resolution;
        uniform vec2 mousePosition;
        void main() {
            vec2 pos = (gl_FragCoord.xy - mousePosition.xy * .5) / resolution.xy;
            gl_FragColor = vec4(1.0,pos.x,pos.y,1.0);
        }
    </script>
    <script id="vertex" type="text/glsl">
        #define NORMAL
    
        #if defined( FLAT_SHADED ) || defined( USE_BUMPMAP ) || defined( TANGENTSPACE_NORMALMAP )
        
            varying vec3 vViewPosition;
        
        #endif
        
        #include <common>
        #include <uv_pars_vertex>
        #include <displacementmap_pars_vertex>
        #include <normal_pars_vertex>
        #include <morphtarget_pars_vertex>
        #include <skinning_pars_vertex>
        #include <logdepthbuf_pars_vertex>
        #include <clipping_planes_pars_vertex>
        
        void main() {
        
            #include <uv_vertex>
        
            #include <beginnormal_vertex>
            #include <morphnormal_vertex>
            #include <skinbase_vertex>
            #include <skinnormal_vertex>
            #include <defaultnormal_vertex>
            #include <normal_vertex>
        
            #include <begin_vertex>
            #include <morphtarget_vertex>
            #include <skinning_vertex>
            #include <displacementmap_vertex>
            #include <project_vertex>
            #include <logdepthbuf_vertex>
            #include <clipping_planes_vertex>
        
        #if defined( FLAT_SHADED ) || defined( USE_BUMPMAP ) || defined( TANGENTSPACE_NORMALMAP )
        
            vViewPosition = - mvPosition.xyz;
        
        #endif
        
        }
    </script>
    <script id="fragment" type="text/glsl">
        uniform vec3 colorA;
    
        #define NORMAL
    
        #if defined( FLAT_SHADED ) || defined( USE_BUMPMAP ) || defined( TANGENTSPACE_NORMALMAP )
        
            varying vec3 vViewPosition;
        
        #endif
        
        #include <packing>
        #include <uv_pars_fragment>
        #include <normal_pars_fragment>
        #include <bumpmap_pars_fragment>
        #include <normalmap_pars_fragment>
        #include <logdepthbuf_pars_fragment>
        #include <clipping_planes_pars_fragment>
        
        void main() {
        
            #include <clipping_planes_fragment>
            #include <logdepthbuf_fragment>
            #include <normal_fragment_begin>
            #include <normal_fragment_maps>
        
            gl_FragColor = vec4( normalize( normal ) * colorA + 0.5, 1.0 );
        
            #ifdef OPAQUE
        
                gl_FragColor.a = 1.0;
        
            #endif
        
        }
    </script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/three-nebula@10.0.3/build/three-nebula.min.js"></script>
    <script src=" https://cdn.jsdelivr.net/npm/granim@2.0.0/dist/granim.min.js "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/mdbassit/Coloris@latest/dist/coloris.min.css"/>
    <script src="https://cdn.jsdelivr.net/gh/mdbassit/Coloris@latest/dist/coloris.min.js"></script>
    <script src=" https://cdn.jsdelivr.net/npm/open-simplex-noise@2.5.0/lib/constants.min.js "></script>
    <script type="module" defer src="./static/src/js/dist/Share.js"></script>
    
    <script type="module" defer src="./static/src/js/dist/circle.js"></script>
    <script type="module" defer src="./static/src/js/dist/colorpicker.js"></script>

    <script type="module" defer src="./static/src/js/dist/JZZ.js"></script>
    <script type="module" defer src="./static/src/js/dist/Synthesizer.js"></script>
    <script type="module" defer src="./static/src/js/dist/SheetMusic.js"></script>
    <script type="module" defer src="./static/src/js/dist/haptic.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>
    
    <script src ="https://cdnjs.cloudflare.com/ajax/libs/tone/14.8.40/Tone.js"></script>
    <script src ="https://cdnjs.cloudflare.com/ajax/libs/tunajs/1.0.1/tuna.js"></script>
    <script src="https://www.youtube.com/iframe_api"></script>


    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/midi/0.0.0/midi.js"></script> -->

</body>
</html>