<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Synthesizer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Style -->
    <link type="text/css" href="../static/src/css/style.css" rel="stylesheet">
    <link type="text/css" href="../static/src/css/SheetMusic.css" rel="stylesheet">
    <!-- <link type="text/css" href="../static/src/css/menu.css" rel="stylesheet"> -->
    <script src="https://unpkg.com/meyda/dist/web/meyda.min.js"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    <script id="vertexShader" type="x-shader/x-vertex">
        varying vec2 vUv;
        void main()	{
            vUv = uv;
            gl_Position = vec4( position, 1.0 );
        }
    </script>

    <script id="fragmentShader" type="x-shader/x-fragment">
            varying vec2 vUv;
            uniform float time;
            void main()	{
    
        vec3 color1 = vec3( 1.0, 0.0, 0.0 ); // red
        vec3 color2 = vec3( 0.0, 1.0, 0.0 ); // green
        
                gl_FragColor = vec4( mix( color1, color2, vUv.x ), 1.0 );
            }
    </script>


</head>

<body>
    <div id="shape-canvas">
        <!-- <canvas id="granim-canvas"></canvas> -->
    </div>


    <div id="midiContainer">
        <button data-action = "open_midi_in">open</button> 
        <button data-action = "close_midi_in">close</button> 
        MIDI: <span id="midiInName">NONE</span>
        <!-- <span id="currnet_note" style = "display: none;">NONE</span> -->
    </div>    

    
    <div class="fixed-track-container">
        duration : <input type="number" name="age" id="trackduration" min="300" max="6000" step="1" value="300">
        <button class="trackMusicButton"id="trackMusicPlayButton"> Play </button>
        <button class="trackMusicButton"id="trackMusicPauseButton"> Pause </button>
        <button class="trackMusicButton"id="trackMusicRemoveClipButton"> Remove Note </button>
        <button class="trackMusicButton"id="trackMusicSaveButton"> save </button>
        <div id="slider_track" style="width: 3000px; height: 10px;"></div>
        <div class="grid-container" id="TrackContainer">
            <!-- <div class="track-item" track_type="template">Visualization </div>
            <div class="track-item" track_type="Meolody">Melody </div>
            <div class="track-item" track_type="Beat">Beat </div> -->
            <div id="dropzoneGroup">
                Template
                <div id="template-dropzone" class="template-dropzone" style="width: 3000px;"></div>
                Melody
                <div id="melody-dropzone" class="melody-dropzone" style="width: 3000px;"></div>
                Beat
                <div id="beat-dropzone" class="beat-dropzone" style="width: 3000px;"></div>
            </div>
            <div id="TemplatedropContainer">
                <!-- <div id="yes-drop" class="drag-drop"> Test 1 </div> -->
            </div>
            <div id="MelodydropContainer">
                <!-- <div id="yes-drop" class="drag-drop"> Test 3 </div> -->
            </div>
            <div id="BeatdropContainer">
                <!-- <div id="yes-drop" class="drag-drop"> Test 5 </div> -->
            </div>
        </div>
    </div>

    <div id = 'sheetMusicController'>
        <button class="sheetMusicButton"id="sheetMusicMelodyButton"> Melody </button>
        <button class="sheetMusicButton"id="sheetMusicBeatButton"> Beat </button>
        <button class="sheetMusicButton"id="sheetMusicSaveButton"> Save </button>
        duration : <input type="number" name="age" id="clipduration" min="3" max="600" step="0.1" value="30">
        <button class="sheetMusicButton"id="sheetMusicPlayButton"> Play </button>
        <button class="sheetMusicButton"id="sheetMusicPauseButton"> Pause </button>
        <button class="sheetMusicButton"id="sheetMusicRemoveNoteButton"> Remove Note </button>
        <div id="slider" style="width: 1820px; left:60px;"></div>
    </div>
    <div class="fixed-container">
        <div class="grid-container" id="MelodyContainer">
            <div class="vertical-line" id="startLine", style="left:60px;"></div>
            <div class="vertical-line" id="timeLine1" style="background-color:green; left:60px;"></div>
            <div class="grid-item" id="timeScale"></div>
            <div class="grid-item" id="box_C4">C4</div>
            <div class="grid-item" id="box_C#4">C#4</div>
            <div class="grid-item" id="box_D4">D4</div>
            <div class="grid-item" id="box_D#4">D#4 </div>
            <div class="grid-item" id="box_E4">E4 </div>
            <div class="grid-item" id="box_F4">F4 </div>
            <div class="grid-item" id="box_F#4">F#4 </div>
            <div class="grid-item" id="box_G4">G4 </div>
            <div class="grid-item" id="box_G#4">G#4 </div>
            <div class="grid-item" id="box_A4">A4 </div>
            <div class="grid-item" id="box_A#4">A#4</div>
            <div class="grid-item" id="box_B4">B4 </div>
            <div class="grid-item" id="box_C5">C5 </div>
            <div class="grid-item" id="box_C#5">C#5 </div>
            <div class="grid-item" id="box_D5">D5 </div>
            <div class="grid-item" id="box_D#5">D#5</div>
            <div class="grid-item" id="box_E5">E5 </div>
            <div class="grid-item" id="box_F5">F5 </div>
            <div class="grid-item" id="box_F#5">F#5 </div>
            <div class="grid-item" id="box_G5">G5 </div>
            <div class="grid-item" id="box_G#5">G#5 </div>
            <div class="grid-item" id="box_A5">A5 </div>
            <div class="grid-item" id="box_A#5">A#5 </div>
            <div class="grid-item" id="box_B5">B5  </div>
            <div class="grid-item" id="box_C6">C6  </div>
        </div>
        <div class="grid-container" id="BeatContainer" style="display:none;">
            <div class="vertical-line" id="startLine2", style="left:60px; height: 120%;"></div>
            <div class="vertical-line" id="timeLine2" style="background-color:green; left:60px; height: 120%"></div>
            <div class="grid-item" id="box_0" style="height:100px;">Beat1 </div>
            <div class="grid-item" id="box_1" style="height:100px;">Beat2 </div>
            <div class="grid-item" id="box_2" style="height:100px;">Beat3 </div>
            <div class="grid-item" id="box_3" style="height:100px;">Beat4 </div>
        </div>
    </div>


        <br>
        <div id="customSliders">
            <h4>Color Menu</h4>
            <button id="backgroundColor">Background Color <input id="backgroundColorID" type="text" data-coloris> </button> <button id="backgroundColorSaveButton"> SAVE </button>
            <br>
            <button id="objectColor1">Object Color 1  <input type="text" data-coloris> </button> <button id="objectColor1SaveButton"> SAVE </button>

            <h4>Size Slider</h4>
            <div id="player">
                <i class="fa fa-volume-down"></i>
                <div id="volume"></div>
                <i class="fa fa-volume-up"></i>
            </div>
        </div>


    
    
    <p id="identityVisual"></p>

    <script>
        window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
        ga('create', 'UA-105392568-1', 'auto');
        ga('send', 'pageview');
    </script>
    <script id="fragmentShader" type="shader-code">
        uniform vec2 resolution;
        uniform vec2 mousePosition;
        void main() {
            vec2 pos = (gl_FragCoord.xy - mousePosition.xy * .5) / resolution.xy;
            gl_FragColor = vec4(1.0,pos.x,pos.y,1.0);
        }
    </script>
    <script id="vertex" type="text/glsl">
        #define NORMAL
    
        #if defined( FLAT_SHADED ) || defined( USE_BUMPMAP ) || defined( TANGENTSPACE_NORMALMAP )
        
            varying vec3 vViewPosition;
        
        #endif
        
        #include <common>
        #include <uv_pars_vertex>
        #include <displacementmap_pars_vertex>
        #include <normal_pars_vertex>
        #include <morphtarget_pars_vertex>
        #include <skinning_pars_vertex>
        #include <logdepthbuf_pars_vertex>
        #include <clipping_planes_pars_vertex>
        
        void main() {
        
            #include <uv_vertex>
        
            #include <beginnormal_vertex>
            #include <morphnormal_vertex>
            #include <skinbase_vertex>
            #include <skinnormal_vertex>
            #include <defaultnormal_vertex>
            #include <normal_vertex>
        
            #include <begin_vertex>
            #include <morphtarget_vertex>
            #include <skinning_vertex>
            #include <displacementmap_vertex>
            #include <project_vertex>
            #include <logdepthbuf_vertex>
            #include <clipping_planes_vertex>
        
        #if defined( FLAT_SHADED ) || defined( USE_BUMPMAP ) || defined( TANGENTSPACE_NORMALMAP )
        
            vViewPosition = - mvPosition.xyz;
        
        #endif
        
        }
    </script>
    <script id="fragment" type="text/glsl">
        uniform vec3 colorA;
    
        #define NORMAL
    
        #if defined( FLAT_SHADED ) || defined( USE_BUMPMAP ) || defined( TANGENTSPACE_NORMALMAP )
        
            varying vec3 vViewPosition;
        
        #endif
        
        #include <packing>
        #include <uv_pars_fragment>
        #include <normal_pars_fragment>
        #include <bumpmap_pars_fragment>
        #include <normalmap_pars_fragment>
        #include <logdepthbuf_pars_fragment>
        #include <clipping_planes_pars_fragment>
        
        void main() {
        
            #include <clipping_planes_fragment>
            #include <logdepthbuf_fragment>
            #include <normal_fragment_begin>
            #include <normal_fragment_maps>
        
            gl_FragColor = vec4( normalize( normal ) * colorA + 0.5, 1.0 );
        
            #ifdef OPAQUE
        
                gl_FragColor.a = 1.0;
        
            #endif
        
        }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/three-nebula@10.0.3/build/three-nebula.min.js"></script>
    <script src=" https://cdn.jsdelivr.net/npm/granim@2.0.0/dist/granim.min.js "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/mdbassit/Coloris@latest/dist/coloris.min.css"/>
    <script src="https://cdn.jsdelivr.net/gh/mdbassit/Coloris@latest/dist/coloris.min.js"></script>
    <script src=" https://cdn.jsdelivr.net/npm/open-simplex-noise@2.5.0/lib/constants.min.js "></script>
    <script type="module" defer src="./static/src/js/dist/Share.js"></script>
    
    <script type="module" defer src="./static/src/js/dist/circle.js"></script>
    <script type="module" defer src="./static/src/js/dist/colorpicker.js"></script>

    <script type="module" defer src="./static/src/js/dist/JZZ.js"></script>
    <script type="module" defer src="./static/src/js/dist/Synthesizer.js"></script>
    <script type="module" defer src="./static/src/js/dist/SheetMusic.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>
    
    <script src ="https://cdnjs.cloudflare.com/ajax/libs/tone/14.8.40/Tone.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tunajs/1.0.1/tuna.js"></script>




    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/midi/0.0.0/midi.js"></script> -->

</body>
</html>