<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Synthesizer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Style -->
    <link type="text/css" href="../static/src/css/style.css" rel="stylesheet">
    <link type="text/css" href="../static/src/css/SheetMusic.css" rel="stylesheet">
    <link type="text/css" href="../static/src/css/melodyandbeat.css" rel="stylesheet">
    <link type="text/css" href="../static/src/css/buttons.css" rel="stylesheet">
    <link type="text/css" href="../static/src/css/mood.css" rel="stylesheet">
    <script src="https://unpkg.com/meyda/dist/web/meyda.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    <script id="vertexShader" type="x-shader/x-vertex">
        varying vec2 vUv;
        void main()	{
            vUv = uv;
            gl_Position = vec4( position, 1.0 );
        }
    </script>

    <script id="fragmentShader" type="x-shader/x-fragment">
            varying vec2 vUv;
            uniform float time;
            void main()	{
    
        vec3 color1 = vec3( 1.0, 0.0, 0.0 ); // red
        vec3 color2 = vec3( 0.0, 1.0, 0.0 ); // green
        
                gl_FragColor = vec4( mix( color1, color2, vUv.x ), 1.0 );
            }
    </script>


</head>

<body>
    <div id = "userName" style="display:none;">{{ username }}</div>
    <div id = "userEmail"style="display:none;">{{ email }}</div>
    <div id = "musicType"style="display:none;">{{ musicType }}</div>

    <div id="DeviceConnectorContainer">
        <button data-action = "open_midi_in" class="synthesizer" id="synthConnector">MIDI ON</button> 
        <button data-action = "close_midi_in" class="synthesizer">MIDI OFF</button> 
        MIDI: <span id="midiInName">NONE</span>
        <button data-action = "SearchHapticDevice" class="haptic" style="margin-left: 30px;">Haptic ON</button> 
        <button data-action = "DisconnectHapticDevice" class="haptic" style="margin-bottom: 10px; margin-right: 20px;">Haptic OFF</button> 
        
        <button data-action = "HapticPatternPlayButton" id="HapticPlayButton" style="display: none">Play</button>
        Intensity : <input class="range" type="range" data-action="amplitude" value="35" min="0" max="50" style="display:inline;"></input>
        BPM : <input type="number" id="bpm" value="120" min="0" max="1000" step ="1" style="display:inline;"></input>
    </div>    
    <div id="shape-canvas">

    </div>    
    <div class="lyrics-displayer" id="lyricsDisplay" style="margin-top: -5px; margin-left: 40px;">가사를 여기에 입력해주세요</div>
    

     <div id ="ClipSettingController" style="display:none;">
        <button class="sheetMusicButton"id="sheetMusicMelodyButton"style="display:none;"> 새 클립 </button>
        <button class="sheetMusicButton"id="sheetMusicBeatButton"style="display:none;"> 새 비트 </button>
        <button class="sheetMusicButton"id="sheetMusicTemplateButton"style="display:none;"> 새 음악 효과 </button>
        <!-- <button class="trackMusicButton"id="trackMusicSaveButton" style="display:none;">음악 저장</button> -->
        <input type="number" name="age" id="clipduration" min="3" max="600" step="0.1" value="30"style="display:none;">
        <button class="sheetMusicButton"id="sheetTemplateSaveButton"style="display:none;"> 음악 효과 저장 </button>
    </div>
    <div class="fixed-track-container" id="trackContainer" style="margin-top: -610px; margin-left: 1010px; display:none;">
        <br>
        <h5 style="font-size: 25px; margin: 10px; text-align: center;"> 음악의 트랙 </h5>
        <input type="number" name="age" id="trackduration" min="30" max="6000" step="1" value="60" style="font-size: 20px; margin-left: 80px; display:none">
        <button class="trackMusicButton"id="trackMusicPlayButton" style="font-size: 20px;"> 재생 </button>
        <button class="trackMusicButton"id="trackMusicPauseButton" style="font-size: 20px;"> 정지 </button>
        <button class="trackMusicButton"id="trackMusicDeleteButton" style="font-size: 20px;"> 클립 삭제 </button>
        <button class="trackMusicButton"id="trackClipCreateButton" style="font-size: 20px;"> 새 클립 </button>
        <button class="trackMusicButton"id="trackMusicSaveButton" style="font-size: 20px;"> 음악 저장 </button>
        <br>
        <input type="file" id="fileUpload" multiple ='multiple' style="display:none"/>
        <div id="slider_track" style="width: 700px; height: 15px;"></div>
        <div class="vertical-line" id="timeLine3" style="background-color:green; left:0px; top:100px; height: 59%"></div>
        <div class="grid-container" id="TrackContainer" style="margin-top: 30px">
            <div id="dropzoneGroup">
                <p style="font-size: 20px; margin: 1px;"> 음악 효과 </p>
                <div id="template-dropzone" class="template-dropzone" style="width: 700px; height: 70px;"></div>
                <p style="font-size: 20px; margin: 1px;"> 멜로디 </p>
                <div id="melody-dropzone" class="melody-dropzone" style="width: 700px; height: 70px"></div>
                <p style="font-size: 20px; margin: 1px;"> 비트 </p>
                <div id="beat-dropzone" class="beat-dropzone" style="width: 700px; height: 70px"></div>
            </div>
            <div id="TemplatedropContainer"style="width: 700px; height: 30px;">
                <!-- <div id="yes-drop" class="drag-drop"> Test 1 </div> -->
            </div>
            <div id="MelodydropContainer"style="width: 700px; height: 30px;">
                <!-- <div id="yes-drop" class="drag-drop"> Test 3 </div> -->
            </div>
            <div id="BeatdropContainer"style="width: 700px; height: 30px;">
                <!-- <div id="yes-drop" class="drag-drop"> Test 5 </div> -->
            </div>
        </div>
    </div>




    <!-- 무드 설정에서 오른쪽 화면에 추가할 내용! -->
    <div class="fixed-track-container" id="moodContainer" style="margin-top: -610px; margin-left: 1010px;">
        <h5 style="font-size: 25px; margin-top: 40px; text-align: center;"> 음악의 분위기를 배경으로 표현해보세요 </h5>
        <button class="themaButton" id="thema_blur">블러</button>
        <button class="themaButton" id="thema_fog">흐름</button>
        <br>
        <button class="themaButton" id="thema_halo">일렁임</button>
        <button class="themaButton" id="thema_clouds">구름</button> 
        <br>
        <button class="themaButton" id="thema_cells">버블</button>
        <button class="themaButton" id="thema_none">기본</button>
    
    
    </div>




    <div id = "pageControlContainer" style=" margin-top: -480px; margin-left: 1750px;">
        <button class="sheetMusicButton"id="sheetMusicSaveButton"> <i class="fa fa-save"></i> </button>
        <br>
        <form action="/" method="POST">
            <button class="pageControl"id="loginPage" style="display:none;"></button>
        </form>
        <button class="pageControl"id="PreviousButton" style="margin-top: 140px;"> &laquo; </button>
        <br>
        <!-- <button class="pageControl"id="NextButton"onclick="window.location.href='/beat'"> &raquo; </button> -->
        <button class="pageControl"id="NextButton"> &raquo; </button>
    </div>
    <div class="fixed-clip-container">
        <div id = 'sheetMusicController'style="display:none">
            <button class="sheetMusicButton"id="sheetMusicPlayButton" style="margin-left: 90px;"> 재생 </button>
            <button class="sheetMusicButton"id="sheetMusicPauseButton" style="margin-left: 30px;"> 정지 </button>
            <button class="sheetMusicButton"id="sheetMusicDeleteButton" style="margin-left: 30px; margin-right: 40px;"> 삭제 </button>
            <button class="sheetMusicButton"id="sheetMusicAllDeleteButton" style="margin-right: 30px;"> 전체 삭제 </button>
            <button class="sheetMusicButton"id="sheetMusicLoadButton" style="margin-right: 30px;"> 불러오기 </button>
            <div id="slider" style="width: 1730px; height: 20px; margin-left: 35px; margin-top: 10px; left:30px;"></div>
        </div>

        <div class="grid-container" id="ThemaContainer">
            
            <div class="moodCustomMenu">
                <h4>무드 커스터마이징 메뉴</h4>
                <button class="colorText" id="backgroundColor"> 색상 1 <input id="backgroundColorID" type="text" data-coloris> </button> <button class="colorText"  id="backgroundColorSaveButton"> 저장 </button>
                <br>
                <br>
                <button  class="colorText" id="objectColor1"> 색상 2 <input type="text" data-coloris> </button> <button class="colorText" id="objectColor1SaveButton"> 저장 </button>
            </div>
        </div>   

        <div class="grid-container" id="MelodyContainer" style="display:none">
            <div id="lyricsInputContainer" style=" margin-left: 1050px; margin-top: -60px; position: absolute; ">
               가사:  <input type="text" id="lyricsInputer" size=30 style="width: 600px; height:30px" style="font-size: 17px;">
                <button class="sheetMusicLyricsButton"id="LyricsPushButton"style="width:70px; height:35px; margin-bottom: -70px;"> 저장 </button>
            </div>
            <div id = "timeLineContainer">
                <div class="vertical-line" id="startLine", style=" margin-top:-5px; left:0px; margin-left: 80px; "></div>
                <div class="vertical-line" id="timeLine1" style="background-color:green; margin-top:-5px; left:0px; margin-left: 80px; "></div> 
            </div>
            <div class="grid-item" id="LyricsBox1" style="height:20px; font-size: 18px;">가사</div>
            <div id = "noteBoxContainer">
                <div class="grid-item" id="box_B" style="background-color: rgb(255, 148, 214);">시  </div>
                <div class="grid-item" id="box_A#" style="background-color: rgb(255, 145, 246);">라# </div>
                <div class="grid-item" id="box_A" style="background-color: rgb(196, 145, 255);">라 </div>
                <div class="grid-item" id="box_G#" style="background-color: rgb(157, 183, 255);">솔# </div>
                <div class="grid-item" id="box_G" style="background-color: rgb(119, 230, 255);;">솔 </div>
                <div class="grid-item" id="box_F#" style="background-color: rgb(118, 255, 246);">파# </div>
                <div class="grid-item" id="box_F" style="background-color: rgb(165, 255, 156);">파 </div>
                <div class="grid-item" id="box_E" style="background-color: rgb(250, 255, 147);">미 </div>
                <div class="grid-item" id="box_D#" style="background-color: rgb(255, 234, 141);">레#</div>
                <div class="grid-item" id="box_D" style="background-color: #ffc691;">레</div>
                <div class="grid-item" id="box_C#" style="background-color: rgb(255, 172, 160);">도# </div>
                <div class="grid-item" id="box_C" style="background-color: rgb(255, 150, 150);">도 </div>
            </div>
            <div id = "lyricsVideoContainer" style="margin-top:10px; margin-left: 80px; display: none;">
                <button id="recordStartButton">녹화 시작</button>
                <button id="recordStopButton">녹화 종료</button>
                <br>
                <video id="videoRecordCanvas" controls style="width: 500px; height: 300px;"></video>
                <video id="videoCheckCanvas" controls style="width: 500px; height: 300px; display:none" ></video>
                <div class="videoClipBox" id = "VideoClipContainer" style="position: absolute; margin-top:-300px; margin-left: 520px;">
                </div>
            </div>
        </div>
        


        <!-- 여기는 비트 부분입니다.. 아마 2번 씬은 여기 부분을 조절해서 할꺼라서 display:none이라 크게 신경 안써도 괜찮을꺼 같습니다 -->
        <div class="grid-container" id="BeatContainer" style="display:none">
            <div class="vertical-line" id="startLine2", style="margin-top:-5px; margin-left: 90px; "></div>
            <div class="vertical-line" id="timeLine2" style="background-color:green; margin-top:-5px; margin-left: 90px; "></div>
            <div class="grid-item" id="box_0" style="height:80px; margin-left: 30px; background-color: #FFFFFF;"> 비트1 </div>
            <div class="grid-item" id="box_1" style="height:80px; margin-left: 30px; background-color: #929292;"> 비트2 </div>
            <div class="grid-item" id="box_2" style="height:80px; margin-left: 30px; background-color: #727272;"> 비트3 </div>
            <div class="grid-item" id="box_3" style="height:80px; margin-left: 30px; background-color: #d6d6d6;"> 비트4 </div>
        </div>
        <!-- 비트 부분 -->

        <div class="grid-container" id="TemplateContainer" style="display:none; margin-left: 300px;">
            진하게 <input type="range" min="0" max="127" value="50" id="dial_1" style="width: 900px;height: 80; margin-left: 100px; margin-top: 50px; pointer-events: none;"> &nbsp;&nbsp;&nbsp;&nbsp; 연하게
            <br>
            뭉치게 <input type="range" min="0" max="127" value="50" id="dial_2" style="width: 900px;height: 80; margin-left: 100px; margin-top: 50px; pointer-events: none;"> &nbsp;&nbsp;&nbsp;&nbsp; 흩어지게
            <br>
            널널한 <input type="range" min="0" max="127" value="50" id="dial_3" style="width: 900px;height: 80; margin-left: 100px; margin-top: 50px; pointer-events: none;"> &nbsp;&nbsp;&nbsp;&nbsp; 빽빽한
            <br>
            크게 &nbsp;&nbsp;  <input type="range" min="0" max="127" value="50" id="dial_4" style="width: 900px;height: 80; margin-left: 100px; margin-top: 50px; pointer-events: none;"> &nbsp;&nbsp;&nbsp;&nbsp; 작게
        </div>
    </div>













    <!-- 여기 밑은 기능 구현을 위한 부분이라 display none이라 수정 안해도 괜찮습니다. -->
    <div id = 'htmlType' style="display:none;">Melody</div>
    <div id = "audioClipContainer" style="display:none;">
        <audio src="../static/src/sound/kick.wav" id = "beat1"></audio>
        <audio src="../static/src/sound/snare.wav" id = "beat2"></audio>
        <audio src="../static/src/sound/tomtom.wav" id = "beat3"></audio>
        <audio src="../static/src/sound/hi-hat.wav" id = "beat4"></audio>
    </div>
        <br>
        <div id="customSliders">
            <h4>Color Menu</h4>
            <button id="backgroundColor">Background Color <input id="backgroundColorID" type="text" data-coloris> </button> <button id="backgroundColorSaveButton"> SAVE </button>
            <br>
            <button id="objectColor1">Object Color 1  <input type="text" data-coloris> </button> <button id="objectColor1SaveButton"> SAVE </button>

            <h4>Size Slider</h4>
            <div id="player">
                <i class="fa fa-volume-down"></i>
                <div id="volume"></div>
                <i class="fa fa-volume-up"></i>
            </div>
        </div>


    
    
    <p id="identityVisual"></p>

    <script>
        window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
        ga('create', 'UA-105392568-1', 'auto');
        ga('send', 'pageview');
    </script>
    <script id="fragmentShader" type="shader-code">
        uniform vec2 resolution;
        uniform vec2 mousePosition;
        void main() {
            vec2 pos = (gl_FragCoord.xy - mousePosition.xy * .5) / resolution.xy;
            gl_FragColor = vec4(1.0,pos.x,pos.y,1.0);
        }
    </script>
    <script id="vertex" type="text/glsl">
        #define NORMAL
    
        #if defined( FLAT_SHADED ) || defined( USE_BUMPMAP ) || defined( TANGENTSPACE_NORMALMAP )
        
            varying vec3 vViewPosition;
        
        #endif
        
        #include <common>
        #include <uv_pars_vertex>
        #include <displacementmap_pars_vertex>
        #include <normal_pars_vertex>
        #include <morphtarget_pars_vertex>
        #include <skinning_pars_vertex>
        #include <logdepthbuf_pars_vertex>
        #include <clipping_planes_pars_vertex>
        
        void main() {
        
            #include <uv_vertex>
        
            #include <beginnormal_vertex>
            #include <morphnormal_vertex>
            #include <skinbase_vertex>
            #include <skinnormal_vertex>
            #include <defaultnormal_vertex>
            #include <normal_vertex>
        
            #include <begin_vertex>
            #include <morphtarget_vertex>
            #include <skinning_vertex>
            #include <displacementmap_vertex>
            #include <project_vertex>
            #include <logdepthbuf_vertex>
            #include <clipping_planes_vertex>
        
        #if defined( FLAT_SHADED ) || defined( USE_BUMPMAP ) || defined( TANGENTSPACE_NORMALMAP )
        
            vViewPosition = - mvPosition.xyz;
        
        #endif
        
        }
    </script>
    <script id="fragment" type="text/glsl">
        uniform vec3 colorA;
    
        #define NORMAL
    
        #if defined( FLAT_SHADED ) || defined( USE_BUMPMAP ) || defined( TANGENTSPACE_NORMALMAP )
        
            varying vec3 vViewPosition;
        
        #endif
        
        #include <packing>
        #include <uv_pars_fragment>
        #include <normal_pars_fragment>
        #include <bumpmap_pars_fragment>
        #include <normalmap_pars_fragment>
        #include <logdepthbuf_pars_fragment>
        #include <clipping_planes_pars_fragment>
        
        void main() {
        
            #include <clipping_planes_fragment>
            #include <logdepthbuf_fragment>
            #include <normal_fragment_begin>
            #include <normal_fragment_maps>
        
            gl_FragColor = vec4( normalize( normal ) * colorA + 0.5, 1.0 );
        
            #ifdef OPAQUE
        
                gl_FragColor.a = 1.0;
        
            #endif
        }
    </script>
    <script src=" https://cdn.jsdelivr.net/npm/p5@1.6.0/lib/p5.min.js "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanta/dist/vanta.fog.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanta/dist/vanta.clouds.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanta/dist/vanta.waves.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanta/dist/vanta.cells.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanta/dist/vanta.halo.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanta/dist/vanta.dots.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanta/dist/vanta.topology.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/three-nebula@10.0.3/build/three-nebula.min.js"></script>
    <script src=" https://cdn.jsdelivr.net/npm/granim@2.0.0/dist/granim.min.js "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/mdbassit/Coloris@latest/dist/coloris.min.css"/>
    <script src="https://cdn.jsdelivr.net/gh/mdbassit/Coloris@latest/dist/coloris.min.js"></script>

    <script type="module" defer src="./static/src/js/dist/Share.js"></script>
    
    <script type="module" defer src="./static/src/js/dist/circle.js"></script>
    <script type="module" defer src="./static/src/js/dist/colorpicker.js"></script>

    <script type="module" defer src="./static/src/js/dist/JZZ.js"></script>
    <script type="module" defer src="./static/src/js/dist/Synthesizer.js"></script>
    <script type="module" defer src="./static/src/js/dist/SheetMusic.js"></script>
    <script type="module" defer src="./static/src/js/dist/haptic.js"></script>
    <script type="module" defer src="./static/src/js/dist/vantavisual.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>
    
    <script src ="https://cdnjs.cloudflare.com/ajax/libs/tone/14.8.40/Tone.js"></script>
    <script src ="https://cdnjs.cloudflare.com/ajax/libs/tunajs/1.0.1/tuna.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/jzz"></script>
    <script src="https://cdn.jsdelivr.net/npm/jzz-midi-smf"></script>

</body>
</html>